body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
}


/* Header */

header {
  height: 85px;
  background-image: url("images/bg.png");
  background-repeat: repeat-x;
  background-position: center;
  background-color: rgb(46, 46, 46);
  color: #fff;
  border-bottom: 3px solid rgb(128, 128, 128);
}

header .hamburger-icon .key-icon {
  background-color: #32b9a3;
  background-position: center;
  padding: 20px 28px;
  cursor: pointer;
  border-radius: 6px;
  width: 35px;
  height: 45px;
  background-image: url("images/menu-btn.png");
  background-repeat: no-repeat;
  box-shadow: 0px 0px 50px rgb(26, 26, 26);
}

header .key-icon:hover {
  background-color: #4aacda;
}

header .hamburger-icon {
  padding: 35px 0 10px 50px;
}


header .hamburger-icon .openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #ebbb2c;
  padding: 5px 10px;
  border-radius: 5px;
}

header .hamburger-icon .openbtn:hover {
  background-color: #dfc67a;
}


/* Header */

/* Main Page */

.main-page {
  display: flex;
  
}

/* Main Page */

/* right-section */

.right-section {
  width: 100%;
  transition: 0.5s;
}

/* right-section */

/* Aside */

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: rgb(37, 37, 37);
  color: #fff;
  width: 0;
  box-shadow: 3px 10px 30px #333;
  overflow-x: hidden;
  transition: 0.5s;
}

aside .filter-section {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 80px 10px 0 10px;
  
}



aside .filter-section input {
  height: 46px;
  width: 100%;
  padding: 3px 3px 3px 8px;
  background:none;
  border: 2px solid #f7ad1c;
  background-image: url("images/bg.png");
  color: #ffe0a3;
  font-size: 16px;
}

aside .filter-section button {
  letter-spacing: 1px;
  margin-right: 20px;
  height:41px;
  background-image: url("images/filter-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 42px;
  background-color: #f7ad1c;
  border: none;
  color: #fff;
  font-family: cursive;
  cursor: pointer;
  padding: 28px 30px;
}

aside .filter-section button:hover {
  background-color: #ffc041;
}

aside .list {
  margin-top: 20px;
  
}

aside .list .list-links {
  padding: 0;
  margin: 0;
  list-style: none;
  
}


aside .list .list-links li {
  
  
  
}

aside .list .list-links li a {
  display: block;
  text-decoration: none;
  color: rgb(196, 196, 196);
  padding: 15px 20px;
  font-size: 14px;
  border: 1px solid rgb(43, 43, 43);
  
}

aside .list .list-links li a:hover {
  background-color: rgb(43, 43, 43);
  color: #ffeabf;
  
  
}

aside .close .closebtn {
  margin: 15px 0;
  padding: 1px 10px;
  border-radius: 50%;
}

aside .close .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 32px;
  margin-left: 50px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(85, 85, 85);
  
}


aside .close .closebtn:hover {
  background-color: #333;
}

aside .pharaoh {
  width: 50px;
  height: 60px;
}

aside .pharaoh .pharaoh-img {
  position: absolute;
  top: 10px;
  left: 110px;
  background-image: url("images/pharaoh.png");
  width: 61px;
  height: 120px;
}

/* Aside */



/* Map */

section {
  background-color: brown;
  height: calc(100vh - 158px);
  
}

/* Map */


/* Footer */
footer {
  background-color: rgb(37, 37, 37);
  color: #fff;
  height: 70px;
  text-align: center;
  
}

footer .footer-container {
  display: flex;
  justify-content: center;
}

footer .footer-container .footer-text {
  padding: 25px 10px 0 15px;
}

footer .footer-container .footer-text .copy-rights {
  font-size: 16px;
  
}

footer .footer-container .footer-text .copy-rights a {
  color: blanchedalmond;
  text-decoration: none;
}

footer .footer-container .footer-text .copy-rights a:hover {
  color: gold;
}

footer .f-pyramids {
  padding-top: 30px;
  background-image: url("images/f-pyramids.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 26px;
  width: 50px;
}

footer .statue {
  background-image: url("images/statue-test.png");
  background-repeat: no-repeat;
  height: 63px;
  width: 50px;
  background-position: center;
  
}


/* Footer */

